<!-- 
<p>pag-bienvenida works!</p>
-->
<app-header></app-header>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="jumbotron jumbotron-fluid mt-4">
        <h1 class="display-4">Gestion Activos Fijos</h1>
        <p class="lead">
          <span><strong>Qué es un activo fijo?</strong></span>
          Para comprender su proceso de contabilidad, primero debe entender qué
          es un activo fijo y en qué se diferencia de otros artículos de su
          almacén. Un activo fijo, también conocido como activo de capital, es
          un elemento tangible de propiedad, planta o equipo (PP&E) que usted
          posee o administra con expectativas de que ayude a generar ingresos
          continuamente. Un activo es fijo cuando es un artículo que su empresa
          no consumirá, venderá ni convertirá en efectivo en el próximo año
          fiscal.
        </p>
        <p class="lead">
          <strong>Los activos fijos</strong> también se diferencia de su inventario, ya que este
          último se fija para consumirse en un plazo breve. El inventario se
          puede dividir en las siguientes categorías: <strong>Materias primas</strong>, <strong>Productos
          terminados</strong> para la venta, <strong>Bienes y servicios</strong> en curso, <strong>Suministros
          operativos</strong> de reparación y mantenimiento. 
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button"
            >Aprender mas!</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>