<!-- <p>crear-adicion works!</p> --> 
<app-header></app-header>
<div class="container mt-5">
    <div class="row"> 
        <div class="col-lg-8 offset-lg-2">
            <div class="card">

                <div class="card-header mt-3 text-center">
                  <span class="titulo" > CREAR ADICION / MEJORA </span>
                </div>
          
                <div class="card-body">
                  <form [formGroup]="adicionForm"  (ngSubmit)="guardar( adicion )" >

                    <div class="row mb-2">
    
                        <div class="col-md-6">
                            <label class="form-label"><b>Codigo activo</b>: {{ param_codigo_activo  }} </label>
                        </div>

                    </div>

                    <!-- MatDatePickers Fecha ( set de lib de MatAngular )   -->
                    <div class="mb-2">
                      <label for="inputDatePicker" class="col-sm-2 col-form-label"> <h3> <label style="color: red">*</label> <label>Fecha:</label> </h3> </label>
                      <mat-form-field>
                          <!--  
                              *** No funciono ***  ?? Sujeto a Revison!! 
                          <input matInput [matDatepicker]="picker3" placeholder="Fecha mejora/adicion" [(ngModel)]="adicion.fecha" (ngModelChange)="adicion.fecha= $event" >
                          -->
                          <input matInput [matDatepicker]="picker3" placeholder="Fecha mejora/adicion" formControlName="fecha" [(ngModel)]="adicion.fecha" > 
                          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                          <mat-datepicker #picker3></mat-datepicker>
                      </mat-form-field> <!-- 'MatDatePicker' fue inyectada en import 'MatDatepickerModule', 
                                            'MatNativeDateModule'  en 'app.module.ts'   
                                            doc: https://stackoverflow.com/questions/75031296/error-ng8002-cant-bind-to-matdatepicker-since-it-isnt-a-known-property-of 
                                        -->
                    </div>

                    <!-- Descripcion 
                    <div class="row mb-2">
                        <label for="inputDescripcion" class="col-sm-2 col-form-label"><h3> <label style="color: red">*</label> <label>Descripcion:</label> </h3></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputDescripcion" placeholder="Descripcion activo" formControlName="descripcion" [(ngModel)]="adicion.descripcion">
                          <span class="text-danger" *ngIf="adicionForm.get('descripcion')?.hasError('required') && adicionForm.get('descripcion')?.touched" ><strong>Descripcion obligatorio</strong></span>
                        </div>
                    </div>       
                    -->

                    <!-- Descripcion -->
                    <div class="row mb-2">
                      <!-- 
                      <label for="inputObservacion" class="form-label"><h3>Observacion:</h3></label>
                      -->
                      <div class="form-group purple-border">
                        <label for="inputDescripcion" class="col-sm-2 col-form-label"><h3> <label style="color: red">*</label> <label>Descripcion:</label> </h3></label>
                        <textarea class="form-control" id="inputDescripcion" rows="2" placeholder="Descripcion" formControlName="descripcion" [(ngModel)]="adicion.descripcion" ></textarea>
                        <label for="inputObservacion" class="form-label"> </label> <!-- Asi intencionalmente para dejara linea en blanco -->
                      </div>
                  </div>


                    <!-- Viida util, valor_adicion -->
                    <div class="row mb-2">

                       <div class="form-outline" style="width: 13rem;">
                          <input step="1" type="number" id="vidaUtil" class="form-control" formControlName="vida_util" [(ngModel)]="adicion.vida_util" />
                          <label class="form-label" for="typeNumber"><h3>Vida util</h3></label>
                        </div>

                        <div class="form-outline" style="width: 13rem;">
                          <input step="0.01" type="number" id="valorAdicion" class="form-control" formControlName="valor_adicion" [(ngModel)]="adicion.valor_adicion" />
                          <label class="form-label" for="typeNumber"><h3>Valor de compra</h3></label>
                        </div>

                    </div>

                    <button routerLink="/listar-adiciones/{{param_codigo_activo}}/{{param_descripcion}}" class="btn btn-secondary btn-lg float-star">VOLVER/CANCELAR</button>
                    
                    <button type="submit" [disabled]="adicionForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>

                  </form>

                </div>
            </div> 
        </div>
    </div>
</div>
<app-footer></app-footer>

