<p>upload-imagen works!</p>
<div>
    <input type="file" class="file-upload" (change)="capturarImagen($event)" >
    <!-- 
    <input type="file" class="file-upload" (change)="console.log($event.target.files)" #fileUpload>
    -->
</div>
<!--  Preview imagen -->
<div *ngIf="imgPrevisualizacion">
    <img [src]="imgPrevisualizacion" alt="" width="100px"  >
</div>
<!-- 
<button type="text" [disabled]="" class="btn btn-info" (click)="subirArchivo()">
    Subir imagen
</button>
--> 
<!--  NO funciono ????? 
<button type="text" [disabled]="" class="btn btn-info" (click)="subiArchivo()">
    "{ {(loading) ? 'Cargando,...' : 'Subir imagen'} }"
</button>
-->
<button class="btn btn-primary" (click)="guardarImagenActivo()">Guardar imagen (Activo)</button>
<!--  Correcto 👇
<button class="btn btn-primary" (click)="guardarImagenUbic()">Guardar imagen (Ubic)</button>
-->
<hr> 
<div> 
    <button type="text" [disabled]="" class="btn btn-info" (click)="getImagenBD()">
        Get imagen from MySQL DB
    </button>
    <div *ngIf="imgPrevisualizacionBD">
        <img [src]="imgPrevisualizacionBD" alt="" width="100px"  >
         <!--
        <img src="data:image/png;base64,{{imgPrevisualizacionBD}}"/>
         -->
    </div>
</div>
<hr> 
<!-- https://material.angular.io/components/select/examples -->
<div>
    <!-- 👍 --> 
    <h4>UBICACIONES</h4>
    <mat-form-field class="fit-content" style="width: 450px;" >
      <mat-label>UBICACIONES</mat-label>
      <!-- 
      funciona asi correctamente: 
      <mat-select [(ngModel)]="ubicacionSelect" name="ubicacionSelect" [(value)]="ubicacionSelect" >
      -->
      <!-- y asi tambien, lamentablemente no hay forma de q quede inicializado el gadget ?????  -->
      <mat-select formControlName="ubicacionSelectControl" [(value)]="ubicacionSelect" >
        <!-- 
        <option value="ubicacionSelect.descripcion">{{ubicacionSelect.descripcion}}</option>
        --> 
        <mat-option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion" >
          {{ubicacion.descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- 👍 --> 
    <p> Selected UBICACION : {{ ubicacionSelect.codigo_ubic+"-"+ubicacionSelect.descripcion }} </p>  
</div>

<div>
    <button class="btn btn-primary" (click)="checkSeleccion( ubicacionSelect )">Check seleccion</button>
</div>
<!-- Uso de MatDatePicker -->
<hr> 
<div>
    <mat-form-field>
        <input matInput [matDatepicker]="picker3" placeholder="Value binding" [formControl]="fecha" >
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field> <!-- 'MatDatePicker' fue inyectada en import 'MatDatepickerModule', 
                            'MatNativeDateModule'  en 'app.module.ts'   
                        doc: https://stackoverflow.com/questions/75031296/error-ng8002-cant-bind-to-matdatepicker-since-it-isnt-a-known-property-of 
                       -->
    <p> Selected Fecha = : {{ fecha.value }} </p>  
 </div>

