.table {
    width: 100%;
}
/* No tiene efecto: ????????? */  
.mat-header-cell {
    justify-content: center;
    font-size: medium;
    font-weight: bold;
    padding: 0px 0px 0px 4px;
  }
.div-title {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    padding: 4px;
  }